body {
	height: 100vh;
	max-width: 1440px;
	margin: 0 auto;
	background-color: rgb(226 232 240);
}

#container {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(300px, 1fr) 4fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas: "dashboard header" "dashboard main";
}

#dashboard {
	background-color: blue;
	grid-area: dashboard;
}

#searchbar {
	background-color: red;
}

header {
	background-color: yellow;
}

main {
	grid-area: main;
}
