@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	height: 100vh;
	margin: 0 auto;
	background-color: rgb(226 232 240);
	font-family: "Be Vietnam Pro";
}

header {
	box-shadow: 0px 4px 13px 0px #000000a8;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "searchbar" "profile";
}

#searchbar,
#profile {
	background-color: white;
}

#searchbar {
	padding-inline: 3em;

	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 3em;
}

#searchbar div:first-of-type {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 32px;
	gap: 1rem;
	align-items: center;
}

#searchbar span,
#searchbar p {
	font-size: 2em;
}

#searchbar .material-symbols-outlined {
	font-variation-settings: "wght" 500;
}

#searchbar p {
	color: black;
	font-weight: 450;
	font-size: 1.5em;
}
input[type="search"] {
	border-style: none;
	background-color: #ededed;
	height: 3em;
	border-radius: 3em;
}

#searchbar div:nth-child(2) {
	padding-inline: 2em;
}

#searchbar div:nth-child(2),
#searchbar div:nth-child(2) a {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2em;
	align-items: center;
}

a img {
	width: 3em;
	border-radius: 50%;
}

#container {
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas: "dashboard header" "dashboard main";
}

#dashboard {
	font-size: clamp(10px, 0.75vw, 20px);
	background-color: rgb(25 146 212);
}

ul:first-of-type {
	margin-top: 2em;
}

ul {
	padding: 0;
	margin-right: 4em;
}

ul + ul {
	font-size: 1em;
	margin-top: 4em;
}

li {
	list-style-type: none;
}

li + li {
	margin-top: 1em;
}

li a {
	font-size: 1.5em;
	color: white;
	margin-left: 1em;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;
}

a {
	text-decoration: none;
}

a .material-symbols-outlined {
	font-size: 1.25em;
}

main {
	grid-area: main;
}
